EMAIL="op://dev/private-ingress-engine/email"
DOMAIN="op://dev/private-ingress-engine/domain"
CF_DNS_API_TOKEN="op://dev/private-ingress-engine/token"
PIHOLE_WEB_PASSWORD="op://dev/private-ingress-engine/pihole"
PRIVATE_IP="op://dev/private-ingress-engine/ip"
